/* Variables */
$primary-dark-color: #292929;
$secondary-dark-color: #1f1f1f;
$primary-orange-color: #e74c3c;
$secondary-orange-color: #ff6e5f;
$primary-text-color: white;
$secondary-text-color: rgb(230, 230, 230);
$gradient-text-color: linear-gradient(
  30deg,
  #99194a 10%,
  #e62525 30%,
  #fe6a48 100%
);
