@import "variables";
@import "mixins";

/* Estilo general */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif, system-ui;

  a {
    text-decoration: none;
    color: $primary-text-color;
  }
  &::selection {
    color: $primary-orange-color;
  }
}

/* Estilo general del nav */
.navbar {
  background-color: $secondary-dark-color;
  color: $primary-text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 10px 5em;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;

  a {
    color: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
  }

  /* Estilo para el logo */
  img {
    max-width: 40px;
    height: auto;
    filter: hue-rotate(90deg);
  }

  /* Estilo para el nombre */
  .name {
    font-size: 24px;
    font-weight: bold;
  }

  /* Estilo para los elementos de la lista */
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;

    li {
      cursor: pointer;
      font-weight: bold;
      @include gradient-button;
      color: $secondary-text-color;
      &:hover {
        @include text-gradient;
      }
    }
  }
}

.main {
  background-color: $primary-dark-color;
  color: $primary-text-color;

  /* Estilo para los elementos de la sección Landing */
  .section_landing {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 400px;
    padding: 5em;
    align-items: center;

    /* Estilo para los elementos de la imagen Landing */
    .container_image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .circle_background {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 20vw;
        aspect-ratio: 1/1;
        background-color: $secondary-orange-color;
        background-image: $gradient-text-color;
        border-radius: 50%;
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0);
        overflow: hidden;
        z-index: 0;

        img {
          width: 70%;
          object-fit: cover;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
        }
      }
    }

    /* Estilo para los elementos del texto Landing */
    .container_landing_text {
      width: 600px;
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 32px;
        @include text-gradient();
      }
      h4 {
        font-size: 24px;
      }

      .name_detail {
        font-size: bold;
        font-size: 24px;
        @include text-gradient();
      }

      p {
        margin-top: 0.5em;
        color: $secondary-text-color;
      }
      .quote {
        margin: 0.5em 0 1em 0;
        font-style: italic;

        span {
          @include text-gradient();
        }
      }

      .container_landing_buttons {
        display: flex;
        gap: 20px;

        button,
        a {
          display: flex;
          align-items: center;
          gap: 8px;
          margin-bottom: 0;
        }

        .icon {
          width: 15px;
          aspect-ratio: 1/1;
        }
      }
    }
  }

  @include gradient-button;

  /* Section in Progress */
  .section_inProgress {
    min-height: 51vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    h2 {
      color: black;
      opacity: 0.7;
    }
    img {
      width: 200px;
      mix-blend-mode: multiply;
      opacity: 1;
      filter: hue-rotate(180deg);
    }
  }
}
